body {
  margin: 0;
  padding: 0;
  background-color: #121417;
  color: white;
  font-family: Overpass;
}

body .encadre {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #252d37;
  width: 260px;
  height: max-content;
  padding: 25px;
  padding-bottom: 30px;
  border-radius: 25px;
}

@media screen and (min-width: 425px) {
  body .encadre {
    width: 325px;
    padding: 35px;
  }
}

body .encadre .etoile {
  height: 13px;
  width: 14px;
  background-color: #303c4a;
  padding: 13px;
  border-radius: 75px;
  margin-bottom: 10px;
}

body .encadre .contenu-rating {
  display: flex;
  flex-direction: column;
}

body .encadre .contenu-rating .question {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.3px;
}

body .encadre .contenu-rating .text {
  margin-top: 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #959eac;
  font-weight: 500;
}

body .encadre .contenu-rating .notes {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 25px;
  align-items: center;
  text-align: center;
  margin-left: 0;
}

body .encadre .contenu-rating .notes .chiffre {
  background-color: #303c4a;
  padding-bottom: 10px;
  padding-top: 13px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 100%;
  font-size: 13px;
  color: #7c8798;
}

body .encadre .contenu-rating .notes .chiffre:first-child {
  padding-bottom: 10px;
  padding-top: 13px;
  padding-left: 18px;
  padding-right: 18px;
}

@media screen and (min-width: 425px) {
  body .encadre .contenu-rating .notes .chiffre {
    background-color: #303c4a;
    padding-bottom: 12px;
    padding-top: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 100%;
    font-size: 14px;
    color: #7c8798;
  }
  body .encadre .contenu-rating .notes .chiffre:first-child {
    padding-bottom: 12px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

body .encadre .contenu-rating .submit {
  width: 100%;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

body .encadre .contenu-rating .submit .boutonbtn {
  width: 100%;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.7px;
  color: white;
  border: none;
  border-radius: 35px;
  padding-top: 4px;
  font-family: Overpass;
  text-transform: uppercase;
  background-color: #fb7413;
}

body .encadre .contenu-rating .submit .boutonbtn:hover {
  cursor: pointer;
  background-color: white;
  color: #fb7413;
}

body .encadre-thank {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #252d37;
  width: 260px;
  height: max-content;
  padding: 25px;
  padding-bottom: 30px;
  border-radius: 25px;
}

@media screen and (min-width: 425px) {
  body .encadre-thank {
    width: 325px;
    padding: 35px;
  }
}

body .encadre-thank .img-thank {
  display: flex;
  padding: 7px;
}

body .encadre-thank .text-rate {
  margin: 25px;
  background-color: #303c4a;
  color: #fb7413;
  padding: 17px;
  padding-bottom: 4px;
  padding-top: 7px;
  border-radius: 25px;
}

body .encadre-thank .thank {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0px;
  margin-top: 10px;
}

body .encadre-thank .text-thank {
  text-align: center;
  margin: 14px;
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 0px;
}

body .challenge {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  margin-right: 20px;
  color: white;
  font-weight: bold;
}

body .challenge .lien-dev {
  text-decoration: none;
  color: white;
}

body .creator {
  color: white;
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  font-weight: bold;
}

body .creator .lien-dev {
  text-decoration: none;
  color: white;
}
